# Analysis of COVID-19 in India using Real Time Data

### Data Scraping - API, Requests, JSON
### Data Manipulation - Pandas
### Data visualization - Plotly

#### Author: Jyothish Kumar C G

This project is an attempt to work on analysis using real time data. The real time datas are fetched from the api published by website https://www.covid19india.org/ . This website is not officially owned or published by the Government of India. But they update  the stats based on state press bulletins, official (CM, Health M) handles, PBI, Press Trust of India, ANI reports.

In [1]:
import requests
import json

**API Details are published under https://api.covid19india.org/**

**Patient Level : Raw Data Partition 6 (From Jun 5th onwards)	https://api.covid19india.org/raw_data6.json**

Using Requests to fetch the data

In [2]:
response_patient_level = requests.get("https://api.covid19india.org/raw_data6.json")

status_code = response_patient_level.status_code
print("\nStatus Code: ", status_code)

response_type = type(response_patient_level)
print("\nResponse Type : ",response_type)

headers = response_patient_level.headers
print("\nResponse Headers: ",headers)

content_type = headers["Content-Type"]
print("\nContent Type: ",content_type)

Status Code:  200

Response Type :  <class 'requests.models.Response'>

Response Headers:  {'Connection': 'keep-alive', 'Content-Length': '475101', 'Server': 'GitHub.com', 'Content-Type': 'application/json; charset=utf-8', 'Strict-Transport-Security': 'max-age=31556952', 'Last-Modified': 'Sat, 31 Oct 2020 07:58:20 GMT', 'ETag': 'W/"5f9d191c-d406d0"', 'Access-Control-Allow-Origin': '*', 'Expires': 'Sat, 31 Oct 2020 09:14:59 GMT', 'Cache-Control': 'max-age=600', 'Content-Encoding': 'gzip', 'X-Proxy-Cache': 'MISS', 'X-GitHub-Request-Id': '1D86:631C:6228:7862:5F9D28B9', 'Accept-Ranges': 'bytes', 'Date': 'Sat, 31 Oct 2020 09:04:59 GMT', 'Via': '1.1 varnish', 'Age': '0', 'X-Served-By': 'cache-wdc5576-WDC', 'X-Cache': 'MISS', 'X-Cache-Hits': '0', 'X-Timer': 'S1604135100.511164,VS0,VE97', 'Vary': 'Accept-Encoding', 'X-Fastly-Request-ID': 'b4a05b600832fcb8e510cb01a7590eeecfa18e52'}

Content Type:  application/json; charset=utf-8

**Converting the Data to dictionary type using JSON**

In [3]:
json_data = response_patient_level.json()

print("\nType of Data Retrieved ", type(json_data))

print("\nData Retrieved: ",json_data['raw_data'][0:5])

Type of Data Retrieved  <class 'dict'>

Data Retrieved:  [{'agebracket': '', 'contractedfromwhichpatientsuspected': '', 'currentstatus': 'Hospitalized', 'dateannounced': '05/06/2020', 'detectedcity': '', 'detecteddistrict': 'Lunglei', 'detectedstate': 'Mizoram', 'entryid': '48613', 'gender': '', 'nationality': '', 'notes': 'Institutional quarantine at Lunglei', 'numcases': '1', 'patientnumber': '78000', 'source1': 'https://twitter.com/dipr_mizoram/status/1268736125104910336', 'source2': '', 'source3': '', 'statecode': 'MZ', 'statepatientnumber': '', 'statuschangedate': '', 'typeoftransmission': ''}, {'agebracket': '', 'contractedfromwhichpatientsuspected': '', 'currentstatus': 'Hospitalized', 'dateannounced': '05/06/2020', 'detectedcity': 'Falkawn', 'detecteddistrict': 'Aizawl', 'detectedstate': 'Mizoram', 'entryid': '48614', 'gender': '', 'nationality': '', 'notes': 'ZMC', 'numcases': '4', 'patientnumber': '78001', 'source1': 'https://twitter.com/dipr_mizoram/status/1268736125104910336', 'source2': '', 'source3': '', 'statecode': 'MZ', 'statepatientnumber': '', 'statuschangedate': '', 'typeoftransmission': ''}, {'agebracket': '', 'contractedfromwhichpatientsuspected': '', 'currentstatus': 'Hospitalized', 'dateannounced': '05/06/2020', 'detectedcity': '', 'detecteddistrict': '', 'detectedstate': 'Nagaland', 'entryid': '48615', 'gender': '', 'nationality': '', 'notes': '', 'numcases': '14', 'patientnumber': '78002', 'source1': 'https://twitter.com/pangnyu/status/1268747371938287616', 'source2': '', 'source3': '', 'statecode': 'NL', 'statepatientnumber': '', 'statuschangedate': '', 'typeoftransmission': ''}, {'agebracket': '', 'contractedfromwhichpatientsuspected': '', 'currentstatus': 'Deceased', 'dateannounced': '05/06/2020', 'detectedcity': '', 'detecteddistrict': 'Khordha', 'detectedstate': 'Odisha', 'entryid': '48616', 'gender': '', 'nationality': '', 'notes': '', 'numcases': '1', 'patientnumber': '78003', 'source1': '', 'source2': '', 'source3': '', 'statecode': 'OR', 'statepatientnumber': '', 'statuschangedate': '', 'typeoftransmission': ''}, {'agebracket': '', 'contractedfromwhichpatientsuspected': '', 'currentstatus': 'Hospitalized', 'dateannounced': '05/06/2020', 'detectedcity': '', 'detecteddistrict': 'Unassigned', 'detectedstate': 'State Unassigned', 'entryid': '48617', 'gender': '', 'nationality': '', 'notes': '', 'numcases': '127', 'patientnumber': '78004', 'source1': 'mohfw.gov.in', 'source2': '', 'source3': '', 'statecode': 'UN', 'statepatientnumber': '', 'statuschangedate': '', 'typeoftransmission': ''}]

**As the above Data is more on Granule level details about patients, I have skipped that and scraped the Nation wide Count statistics data** 

**National Level :Time series, State-wise stats and Test counts	https://api.covid19india.org/data.json**

In [4]:
response_count_level = requests.get("https://api.covid19india.org/data.json")

status_code = response_count_level
print("\nStatus Code: ", status_code)

json_data_count = response_count_level.json()

print("\nType of Data Retrieved ", type(json_data_count))

print("\nData Retrieved: ",json_data_count['cases_time_series'][0:5])

print("\nKeys of the JSON : ",json_data_count.keys())

Status Code:  <Response [200]>

Type of Data Retrieved  <class 'dict'>

Data Retrieved:  [{'dailyconfirmed': '1', 'dailydeceased': '0', 'dailyrecovered': '0', 'date': '30 January ', 'dateymd': '2020-01-30', 'totalconfirmed': '1', 'totaldeceased': '0', 'totalrecovered': '0'}, {'dailyconfirmed': '0', 'dailydeceased': '0', 'dailyrecovered': '0', 'date': '31 January ', 'dateymd': '2020-01-31', 'totalconfirmed': '1', 'totaldeceased': '0', 'totalrecovered': '0'}, {'dailyconfirmed': '0', 'dailydeceased': '0', 'dailyrecovered': '0', 'date': '01 February ', 'dateymd': '2020-02-01', 'totalconfirmed': '1', 'totaldeceased': '0', 'totalrecovered': '0'}, {'dailyconfirmed': '1', 'dailydeceased': '0', 'dailyrecovered': '0', 'date': '02 February ', 'dateymd': '2020-02-02', 'totalconfirmed': '2', 'totaldeceased': '0', 'totalrecovered': '0'}, {'dailyconfirmed': '1', 'dailydeceased': '0', 'dailyrecovered': '0', 'date': '03 February ', 'dateymd': '2020-02-03', 'totalconfirmed': '3', 'totaldeceased': '0', 'totalrecovered': '0'}]

Keys of the JSON :  dict_keys(['cases_time_series', 'statewise', 'tested'])

**Extracting the different sets of data using their keys**

*Time Series - Nation wide count on a daily basis*

*State Wise -  State wise count on a daily basis*

*Tested - Samples tested on a daily basis*

In [5]:
time_series = json_data_count["cases_time_series"]
time_series[0:2]

[{'dailyconfirmed': '1',
  'dailydeceased': '0',
  'dailyrecovered': '0',
  'date': '30 January ',
  'dateymd': '2020-01-30',
  'totalconfirmed': '1',
  'totaldeceased': '0',
  'totalrecovered': '0'},
 {'dailyconfirmed': '0',
  'dailydeceased': '0',
  'dailyrecovered': '0',
  'date': '31 January ',
  'dateymd': '2020-01-31',
  'totalconfirmed': '1',
  'totaldeceased': '0',
  'totalrecovered': '0'}]

In [6]:
state_wise = json_data_count["statewise"]
state_wise[0:2]

[{'active': '583571',
  'confirmed': '8139081',
  'deaths': '121699',
  'deltaconfirmed': '2915',
  'deltadeaths': '18',
  'deltarecovered': '1486',
  'lastupdatedtime': '31/10/2020 13:18:08',
  'migratedother': '1414',
  'recovered': '7432397',
  'state': 'Total',
  'statecode': 'TT',
  'statenotes': ''},
 {'active': '125418',
  'confirmed': '1672858',
  'deaths': '43837',
  'deltaconfirmed': '0',
  'deltadeaths': '0',
  'deltarecovered': '0',
  'lastupdatedtime': '31/10/2020 00:06:10',
  'migratedother': '553',
  'recovered': '1503050',
  'state': 'Maharashtra',
  'statecode': 'MH',
  'statenotes': "[Sep 9] :239 cases have been removed from the hospitalized figures owing to the removal of duplicates and change of addresses as per the original residence,\n[Aug 15] : MH bulletin has reduced 819 confirmed cases in Mumbai and 72 confirmed cases from 'Other States' from the tally\n[Jun 16] : 1328 deceased cases have been retroactively added to MH bulletin.\n[Jun 20] : 69 deceased cases have been reduced based on state bulletin."}]

In [7]:
tested = json_data_count["tested"]
tested[0:2]

[{'dailyrtpcrsamplescollectedicmrapplication': '',
  'individualstestedperconfirmedcase': '75.64',
  'positivecasesfromsamplesreported': '',
  'samplereportedtoday': '',
  'source': 'Press_Release_ICMR_13March2020.pdf',
  'source1': '',
  'source3': '',
  'testedasof': '13/03/2020',
  'testpositivitylast7days': '',
  'testpositivityrate': '1.20%',
  'testsconductedbyprivatelabs': '',
  'testsperconfirmedcase': '83.33',
  'testspermillion': '5',
  'totalindividualstested': '5900',
  'totalpositivecases': '78',
  'totalrtpcrsamplescollectedicmrapplication': '',
  'totalsamplestested': '6500',
  'updatetimestamp': '13/03/2020 00:00:00'},
 {'dailyrtpcrsamplescollectedicmrapplication': '',
  'individualstestedperconfirmedcase': '81.57',
  'positivecasesfromsamplesreported': '',
  'samplereportedtoday': '',
  'source': 'ICMR_website_update_18March_6PM_IST.pdf',
  'source1': '',
  'source3': '',
  'testedasof': '18/03/2020',
  'testpositivitylast7days': '',
  'testpositivityrate': '1.14%',
  'testsconductedbyprivatelabs': '',
  'testsperconfirmedcase': '87.50',
  'testspermillion': '10',
  'totalindividualstested': '12235',
  'totalpositivecases': '150',
  'totalrtpcrsamplescollectedicmrapplication': '',
  'totalsamplestested': '13125',
  'updatetimestamp': '18/03/2020 18:00:00'}]

**Different States in the list state_wise. Total refers to Nation wide**

In [8]:
states = []
for records in state_wise:
    state = records['state']
    states.append(state)
    
states

['Total',
 'Maharashtra',
 'Andhra Pradesh',
 'Karnataka',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Delhi',
 'Kerala',
 'West Bengal',
 'Odisha',
 'Telangana',
 'Bihar',
 'Assam',
 'Rajasthan',
 'Gujarat',
 'Madhya Pradesh',
 'Chhattisgarh',
 'Haryana',
 'Punjab',
 'Jharkhand',
 'Jammu and Kashmir',
 'Uttarakhand',
 'Goa',
 'Puducherry',
 'Tripura',
 'Himachal Pradesh',
 'Manipur',
 'Chandigarh',
 'Arunachal Pradesh',
 'Meghalaya',
 'Nagaland',
 'Ladakh',
 'Andaman and Nicobar Islands',
 'Sikkim',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Mizoram',
 'State Unassigned',
 'Lakshadweep']

**Latest Status of the Country**

In [9]:

total_cases = {}
for records in state_wise:
    if records['state'] == 'Total':
        total_cases['Country'] = "India"
        total_cases['Total Confirmed Cases'] = int(records['confirmed'])
        total_cases['Total Active Cases'] = int(records['active']) 
        total_cases['Total Recovered Cases'] = total_cases['Total Confirmed Cases'] - total_cases['Total Active Cases']
        total_cases['Total Deaths Reported'] = int(records['deaths'])
        total_cases['Date'] = records['lastupdatedtime']
        
total_cases

{'Country': 'India',
 'Date': '31/10/2020 13:18:08',
 'Total Active Cases': 583571,
 'Total Confirmed Cases': 8139081,
 'Total Deaths Reported': 121699,
 'Total Recovered Cases': 7555510}

**Today's Status [Based on the data published in the api ]**

In [10]:
today_status = {}

today_status["Date"] = time_series[-1]['date']   
today_status["Confirmed Cases"] =  time_series[-1]['dailyconfirmed']
today_status["Recovered Cases"] =  time_series[-1]['dailyrecovered']
today_status["Deceased Cases"] =  time_series[-1]['dailydeceased']

today_status

{'Confirmed Cases': '48117',
 'Date': '30 October ',
 'Deceased Cases': '550',
 'Recovered Cases': '59005'}

**Number of Samples Tested till day**

In [11]:
total_samples_tested = tested[-1]['totalsamplestested']
total_samples_tested

'108796064'

**Moving Data According to Daywise count to a seperate dictionary**

In [12]:
timeseries_plot_data = {}

for records in time_series:
    date = records['date']
    dailyconfirmed = records['dailyconfirmed']
    dailydeceased = records['dailydeceased']
    dailyrecovered = records['dailyrecovered']

    daily_status = {'Confirmed': dailyconfirmed, 'Deceased': dailydeceased, 'Recovered': dailyrecovered }
    timeseries_plot_data[date] = daily_status 
   
timeseries_plot_data

{'01 April ': {'Confirmed': '424', 'Deceased': '6', 'Recovered': '19'},
 '01 August ': {'Confirmed': '55117', 'Deceased': '854', 'Recovered': '51368'},
 '01 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '01 July ': {'Confirmed': '19429', 'Deceased': '438', 'Recovered': '12064'},
 '01 June ': {'Confirmed': '7723', 'Deceased': '201', 'Recovered': '3882'},
 '01 March ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '01 May ': {'Confirmed': '2396', 'Deceased': '77', 'Recovered': '962'},
 '01 October ': {'Confirmed': '81784',
  'Deceased': '1099',
  'Recovered': '78731'},
 '01 September ': {'Confirmed': '78168',
  'Deceased': '892',
  'Recovered': '62145'},
 '02 April ': {'Confirmed': '486', 'Deceased': '16', 'Recovered': '22'},
 '02 August ': {'Confirmed': '52672', 'Deceased': '760', 'Recovered': '40355'},
 '02 February ': {'Confirmed': '1', 'Deceased': '0', 'Recovered': '0'},
 '02 July ': {'Confirmed': '21947', 'Deceased': '378', 'Recovered': '19999'},
 '02 June ': {'Confirmed': '8812', 'Deceased': '222', 'Recovered': '4531'},
 '02 March ': {'Confirmed': '2', 'Deceased': '0', 'Recovered': '0'},
 '02 May ': {'Confirmed': '2564', 'Deceased': '92', 'Recovered': '831'},
 '02 October ': {'Confirmed': '79883',
  'Deceased': '1068',
  'Recovered': '76339'},
 '02 September ': {'Confirmed': '82860',
  'Deceased': '913',
  'Recovered': '67874'},
 '03 April ': {'Confirmed': '560', 'Deceased': '14', 'Recovered': '39'},
 '03 August ': {'Confirmed': '50488', 'Deceased': '806', 'Recovered': '43070'},
 '03 February ': {'Confirmed': '1', 'Deceased': '0', 'Recovered': '0'},
 '03 July ': {'Confirmed': '22718', 'Deceased': '444', 'Recovered': '14417'},
 '03 June ': {'Confirmed': '9689', 'Deceased': '259', 'Recovered': '3789'},
 '03 March ': {'Confirmed': '1', 'Deceased': '0', 'Recovered': '0'},
 '03 May ': {'Confirmed': '2952', 'Deceased': '140', 'Recovered': '911'},
 '03 October ': {'Confirmed': '75479',
  'Deceased': '937',
  'Recovered': '81655'},
 '03 September ': {'Confirmed': '84156',
  'Deceased': '979',
  'Recovered': '67491'},
 '04 April ': {'Confirmed': '579', 'Deceased': '13', 'Recovered': '56'},
 '04 August ': {'Confirmed': '51282', 'Deceased': '849', 'Recovered': '51220'},
 '04 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '04 July ': {'Confirmed': '24018', 'Deceased': '611', 'Recovered': '14746'},
 '04 June ': {'Confirmed': '9847', 'Deceased': '274', 'Recovered': '4390'},
 '04 March ': {'Confirmed': '22', 'Deceased': '0', 'Recovered': '0'},
 '04 May ': {'Confirmed': '3656', 'Deceased': '103', 'Recovered': '1082'},
 '04 October ': {'Confirmed': '74770',
  'Deceased': '903',
  'Recovered': '76713'},
 '04 September ': {'Confirmed': '87115',
  'Deceased': '950',
  'Recovered': '69625'},
 '05 April ': {'Confirmed': '609', 'Deceased': '22', 'Recovered': '43'},
 '05 August ': {'Confirmed': '56626', 'Deceased': '919', 'Recovered': '45583'},
 '05 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '05 July ': {'Confirmed': '23942', 'Deceased': '421', 'Recovered': '15829'},
 '05 June ': {'Confirmed': '9472', 'Deceased': '286', 'Recovered': '4770'},
 '05 March ': {'Confirmed': '2', 'Deceased': '0', 'Recovered': '0'},
 '05 May ': {'Confirmed': '2971', 'Deceased': '128', 'Recovered': '1295'},
 '05 October ': {'Confirmed': '60130',
  'Deceased': '886',
  'Recovered': '75855'},
 '05 September ': {'Confirmed': '90600',
  'Deceased': '916',
  'Recovered': '73161'},
 '06 April ': {'Confirmed': '484', 'Deceased': '16', 'Recovered': '65'},
 '06 August ': {'Confirmed': '62170', 'Deceased': '899', 'Recovered': '50141'},
 '06 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '06 July ': {'Confirmed': '22500', 'Deceased': '473', 'Recovered': '15315'},
 '06 June ': {'Confirmed': '10408', 'Deceased': '297', 'Recovered': '5433'},
 '06 March ': {'Confirmed': '1', 'Deceased': '0', 'Recovered': '0'},
 '06 May ': {'Confirmed': '3602', 'Deceased': '91', 'Recovered': '1161'},
 '06 October ': {'Confirmed': '71869',
  'Deceased': '990',
  'Recovered': '81945'},
 '06 September ': {'Confirmed': '91725',
  'Deceased': '1005',
  'Recovered': '69630'},
 '07 April ': {'Confirmed': '573', 'Deceased': '27', 'Recovered': '75'},
 '07 August ': {'Confirmed': '61455', 'Deceased': '936', 'Recovered': '50387'},
 '07 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '07 July ': {'Confirmed': '23147', 'Deceased': '479', 'Recovered': '16836'},
 '07 June ': {'Confirmed': '10882', 'Deceased': '261', 'Recovered': '5191'},
 '07 March ': {'Confirmed': '3', 'Deceased': '0', 'Recovered': '0'},
 '07 May ': {'Confirmed': '3344', 'Deceased': '104', 'Recovered': '1475'},
 '07 October ': {'Confirmed': '78809',
  'Deceased': '963',
  'Recovered': '83209'},
 '07 September ': {'Confirmed': '75015',
  'Deceased': '1129',
  'Recovered': '74116'},
 '08 April ': {'Confirmed': '565', 'Deceased': '20', 'Recovered': '96'},
 '08 August ': {'Confirmed': '65156', 'Deceased': '875', 'Recovered': '52135'},
 '08 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '08 July ': {'Confirmed': '25561', 'Deceased': '492', 'Recovered': '19508'},
 '08 June ': {'Confirmed': '8536', 'Deceased': '271', 'Recovered': '5171'},
 '08 March ': {'Confirmed': '5', 'Deceased': '0', 'Recovered': '0'},
 '08 May ': {'Confirmed': '3339', 'Deceased': '97', 'Recovered': '1111'},
 '08 October ': {'Confirmed': '70797',
  'Deceased': '967',
  'Recovered': '78745'},
 '08 September ': {'Confirmed': '89855',
  'Deceased': '1107',
  'Recovered': '74608'},
 '09 April ': {'Confirmed': '813', 'Deceased': '46', 'Recovered': '70'},
 '09 August ': {'Confirmed': '62117',
  'Deceased': '1013',
  'Recovered': '54474'},
 '09 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '09 July ': {'Confirmed': '25790', 'Deceased': '479', 'Recovered': '19408'},
 '09 June ': {'Confirmed': '9981', 'Deceased': '272', 'Recovered': '5634'},
 '09 March ': {'Confirmed': '9', 'Deceased': '0', 'Recovered': '0'},
 '09 May ': {'Confirmed': '3175', 'Deceased': '115', 'Recovered': '1414'},
 '09 October ': {'Confirmed': '73305',
  'Deceased': '929',
  'Recovered': '82628'},
 '09 September ': {'Confirmed': '95536',
  'Deceased': '1168',
  'Recovered': '73062'},
 '10 April ': {'Confirmed': '871', 'Deceased': '22', 'Recovered': '151'},
 '10 August ': {'Confirmed': '53016', 'Deceased': '887', 'Recovered': '47362'},
 '10 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '10 July ': {'Confirmed': '27762', 'Deceased': '520', 'Recovered': '20289'},
 '10 June ': {'Confirmed': '11156', 'Deceased': '358', 'Recovered': '6275'},
 '10 March ': {'Confirmed': '15', 'Deceased': '0', 'Recovered': '1'},
 '10 May ': {'Confirmed': '4311', 'Deceased': '112', 'Recovered': '1669'},
 '10 October ': {'Confirmed': '74418',
  'Deceased': '921',
  'Recovered': '89024'},
 '10 September ': {'Confirmed': '96762',
  'Deceased': '1213',
  'Recovered': '70904'},
 '11 April ': {'Confirmed': '854', 'Deceased': '41', 'Recovered': '186'},
 '11 August ': {'Confirmed': '61252', 'Deceased': '835', 'Recovered': '56461'},
 '11 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '11 July ': {'Confirmed': '27757', 'Deceased': '543', 'Recovered': '19981'},
 '11 June ': {'Confirmed': '11135', 'Deceased': '394', 'Recovered': '6044'},
 '11 March ': {'Confirmed': '8', 'Deceased': '0', 'Recovered': '0'},
 '11 May ': {'Confirmed': '3592', 'Deceased': '81', 'Recovered': '1579'},
 '11 October ': {'Confirmed': '67789',
  'Deceased': '813',
  'Recovered': '71565'},
 '11 September ': {'Confirmed': '97655',
  'Deceased': '1202',
  'Recovered': '81456'},
 '12 April ': {'Confirmed': '758', 'Deceased': '42', 'Recovered': '114'},
 '12 August ': {'Confirmed': '67066', 'Deceased': '950', 'Recovered': '57759'},
 '12 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '12 July ': {'Confirmed': '29106', 'Deceased': '500', 'Recovered': '18198'},
 '12 June ': {'Confirmed': '11306', 'Deceased': '388', 'Recovered': '7263'},
 '12 March ': {'Confirmed': '10', 'Deceased': '1', 'Recovered': '0'},
 '12 May ': {'Confirmed': '3562', 'Deceased': '120', 'Recovered': '1905'},
 '12 October ': {'Confirmed': '54262',
  'Deceased': '710',
  'Recovered': '78365'},
 '12 September ': {'Confirmed': '94414',
  'Deceased': '1111',
  'Recovered': '77862'},
 '13 April ': {'Confirmed': '1243', 'Deceased': '27', 'Recovered': '112'},
 '13 August ': {'Confirmed': '64141',
  'Deceased': '1006',
  'Recovered': '54776'},
 '13 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '1'},
 '13 July ': {'Confirmed': '28178', 'Deceased': '541', 'Recovered': '17683'},
 '13 June ': {'Confirmed': '12039', 'Deceased': '309', 'Recovered': '8092'},
 '13 March ': {'Confirmed': '10', 'Deceased': '0', 'Recovered': '6'},
 '13 May ': {'Confirmed': '3726', 'Deceased': '137', 'Recovered': '1963'},
 '13 October ': {'Confirmed': '63717',
  'Deceased': '727',
  'Recovered': '74079'},
 '13 September ': {'Confirmed': '93220',
  'Deceased': '1140',
  'Recovered': '77748'},
 '14 April ': {'Confirmed': '1031', 'Deceased': '37', 'Recovered': '167'},
 '14 August ': {'Confirmed': '65610', 'Deceased': '989', 'Recovered': '56920'},
 '14 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '14 July ': {'Confirmed': '29917', 'Deceased': '587', 'Recovered': '20977'},
 '14 June ': {'Confirmed': '11405', 'Deceased': '324', 'Recovered': '7358'},
 '14 March ': {'Confirmed': '11', 'Deceased': '1', 'Recovered': '0'},
 '14 May ': {'Confirmed': '3991', 'Deceased': '97', 'Recovered': '1594'},
 '14 October ': {'Confirmed': '67811',
  'Deceased': '690',
  'Recovered': '81582'},
 '14 September ': {'Confirmed': '81913',
  'Deceased': '1054',
  'Recovered': '79213'},
 '15 April ': {'Confirmed': '886', 'Deceased': '27', 'Recovered': '144'},
 '15 August ': {'Confirmed': '63986', 'Deceased': '952', 'Recovered': '53116'},
 '15 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '15 July ': {'Confirmed': '32607', 'Deceased': '614', 'Recovered': '20646'},
 '15 June ': {'Confirmed': '10032', 'Deceased': '396', 'Recovered': '10639'},
 '15 March ': {'Confirmed': '10', 'Deceased': '0', 'Recovered': '3'},
 '15 May ': {'Confirmed': '3808', 'Deceased': '104', 'Recovered': '2234'},
 '15 October ': {'Confirmed': '63441',
  'Deceased': '882',
  'Recovered': '70792'},
 '15 September ': {'Confirmed': '91098',
  'Deceased': '1281',
  'Recovered': '82849'},
 '16 April ': {'Confirmed': '1061', 'Deceased': '26', 'Recovered': '258'},
 '16 August ': {'Confirmed': '58096', 'Deceased': '952', 'Recovered': '57404'},
 '16 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '1'},
 '16 July ': {'Confirmed': '35468', 'Deceased': '680', 'Recovered': '22867'},
 '16 June ': {'Confirmed': '11086', 'Deceased': '2004', 'Recovered': '7226'},
 '16 March ': {'Confirmed': '14', 'Deceased': '0', 'Recovered': '1'},
 '16 May ': {'Confirmed': '4794', 'Deceased': '120', 'Recovered': '4012'},
 '16 October ': {'Confirmed': '62304',
  'Deceased': '840',
  'Recovered': '70568'},
 '16 September ': {'Confirmed': '97860',
  'Deceased': '1140',
  'Recovered': '82924'},
 '17 April ': {'Confirmed': '922', 'Deceased': '38', 'Recovered': '273'},
 '17 August ': {'Confirmed': '54298', 'Deceased': '880', 'Recovered': '58172'},
 '17 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '17 July ': {'Confirmed': '34820', 'Deceased': '676', 'Recovered': '17476'},
 '17 June ': {'Confirmed': '13108', 'Deceased': '341', 'Recovered': '6890'},
 '17 March ': {'Confirmed': '20', 'Deceased': '1', 'Recovered': '1'},
 '17 May ': {'Confirmed': '5049', 'Deceased': '152', 'Recovered': '2538'},
 '17 October ': {'Confirmed': '61893',
  'Deceased': '1032',
  'Recovered': '72583'},
 '17 September ': {'Confirmed': '96787',
  'Deceased': '1175',
  'Recovered': '87788'},
 '18 April ': {'Confirmed': '1371', 'Deceased': '35', 'Recovered': '426'},
 '18 August ': {'Confirmed': '65024',
  'Deceased': '1099',
  'Recovered': '60455'},
 '18 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '18 July ': {'Confirmed': '37411', 'Deceased': '543', 'Recovered': '23583'},
 '18 June ': {'Confirmed': '13829', 'Deceased': '343', 'Recovered': '10741'},
 '18 March ': {'Confirmed': '25', 'Deceased': '0', 'Recovered': '0'},
 '18 May ': {'Confirmed': '4628', 'Deceased': '131', 'Recovered': '2482'},
 '18 October ': {'Confirmed': '56519',
  'Deceased': '582',
  'Recovered': '66418'},
 '18 September ': {'Confirmed': '92973',
  'Deceased': '1221',
  'Recovered': '95515'},
 '19 April ': {'Confirmed': '1580', 'Deceased': '38', 'Recovered': '388'},
 '19 August ': {'Confirmed': '69196', 'Deceased': '979', 'Recovered': '59365'},
 '19 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '19 July ': {'Confirmed': '40235', 'Deceased': '675', 'Recovered': '22730'},
 '19 June ': {'Confirmed': '14740', 'Deceased': '364', 'Recovered': '9029'},
 '19 March ': {'Confirmed': '27', 'Deceased': '1', 'Recovered': '5'},
 '19 May ': {'Confirmed': '6154', 'Deceased': '146', 'Recovered': '3032'},
 '19 October ': {'Confirmed': '45506',
  'Deceased': '589',
  'Recovered': '69800'},
 '19 September ': {'Confirmed': '92574',
  'Deceased': '1149',
  'Recovered': '94389'},
 '20 April ': {'Confirmed': '1239', 'Deceased': '33', 'Recovered': '419'},
 '20 August ': {'Confirmed': '68518', 'Deceased': '981', 'Recovered': '61873'},
 '20 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '1'},
 '20 July ': {'Confirmed': '36806', 'Deceased': '596', 'Recovered': '24303'},
 '20 June ': {'Confirmed': '15918', 'Deceased': '308', 'Recovered': '13974'},
 '20 March ': {'Confirmed': '58', 'Deceased': '0', 'Recovered': '3'},
 '20 May ': {'Confirmed': '5720', 'Deceased': '134', 'Recovered': '3113'},
 '20 October ': {'Confirmed': '54348',
  'Deceased': '714',
  'Recovered': '61828'},
 '20 September ': {'Confirmed': '87395',
  'Deceased': '1135',
  'Recovered': '92926'},
 '21 April ': {'Confirmed': '1537', 'Deceased': '53', 'Recovered': '703'},
 '21 August ': {'Confirmed': '69029', 'Deceased': '953', 'Recovered': '62858'},
 '21 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '21 July ': {'Confirmed': '39170', 'Deceased': '671', 'Recovered': '27589'},
 '21 June ': {'Confirmed': '15151', 'Deceased': '426', 'Recovered': '9075'},
 '21 March ': {'Confirmed': '78', 'Deceased': '0', 'Recovered': '0'},
 '21 May ': {'Confirmed': '6023', 'Deceased': '148', 'Recovered': '3131'},
 '21 October ': {'Confirmed': '56264',
  'Deceased': '701',
  'Recovered': '79561'},
 '21 September ': {'Confirmed': '74493',
  'Deceased': '1056',
  'Recovered': '102070'},
 '22 April ': {'Confirmed': '1292', 'Deceased': '36', 'Recovered': '394'},
 '22 August ': {'Confirmed': '70067', 'Deceased': '918', 'Recovered': '59101'},
 '22 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '22 July ': {'Confirmed': '45601', 'Deceased': '1130', 'Recovered': '31875'},
 '22 June ': {'Confirmed': '13560', 'Deceased': '312', 'Recovered': '10879'},
 '22 March ': {'Confirmed': '69', 'Deceased': '3', 'Recovered': '0'},
 '22 May ': {'Confirmed': '6536', 'Deceased': '142', 'Recovered': '3280'},
 '22 October ': {'Confirmed': '54371',
  'Deceased': '686',
  'Recovered': '74569'},
 '22 September ': {'Confirmed': '83362',
  'Deceased': '1085',
  'Recovered': '89657'},
 '23 April ': {'Confirmed': '1667', 'Deceased': '40', 'Recovered': '642'},
 '23 August ': {'Confirmed': '61749', 'Deceased': '846', 'Recovered': '56896'},
 '23 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '23 July ': {'Confirmed': '48443', 'Deceased': '755', 'Recovered': '33326'},
 '23 June ': {'Confirmed': '15656', 'Deceased': '468', 'Recovered': '10462'},
 '23 March ': {'Confirmed': '94', 'Deceased': '2', 'Recovered': '2'},
 '23 May ': {'Confirmed': '6667', 'Deceased': '142', 'Recovered': '2576'},
 '23 October ': {'Confirmed': '53931',
  'Deceased': '655',
  'Recovered': '66994'},
 '23 September ': {'Confirmed': '86703',
  'Deceased': '1123',
  'Recovered': '87459'},
 '24 April ': {'Confirmed': '1408', 'Deceased': '59', 'Recovered': '484'},
 '24 August ': {'Confirmed': '59696', 'Deceased': '854', 'Recovered': '66305'},
 '24 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '24 July ': {'Confirmed': '48888', 'Deceased': '763', 'Recovered': '32514'},
 '24 June ': {'Confirmed': '16868', 'Deceased': '424', 'Recovered': '13089'},
 '24 March ': {'Confirmed': '74', 'Deceased': '1', 'Recovered': '15'},
 '24 May ': {'Confirmed': '7111', 'Deceased': '156', 'Recovered': '3285'},
 '24 October ': {'Confirmed': '50366',
  'Deceased': '578',
  'Recovered': '62270'},
 '24 September ': {'Confirmed': '85921',
  'Deceased': '1144',
  'Recovered': '81142'},
 '25 April ': {'Confirmed': '1835', 'Deceased': '44', 'Recovered': '442'},
 '25 August ': {'Confirmed': '66873',
  'Deceased': '1066',
  'Recovered': '64151'},
 '25 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '25 July ': {'Confirmed': '50072', 'Deceased': '703', 'Recovered': '37125'},
 '25 June ': {'Confirmed': '18205', 'Deceased': '401', 'Recovered': '13983'},
 '25 March ': {'Confirmed': '86', 'Deceased': '1', 'Recovered': '3'},
 '25 May ': {'Confirmed': '6414', 'Deceased': '150', 'Recovered': '3012'},
 '25 October ': {'Confirmed': '45922',
  'Deceased': '483',
  'Recovered': '59304'},
 '25 September ': {'Confirmed': '85717',
  'Deceased': '1093',
  'Recovered': '93331'},
 '26 April ': {'Confirmed': '1607', 'Deceased': '56', 'Recovered': '585'},
 '26 August ': {'Confirmed': '75995',
  'Deceased': '1017',
  'Recovered': '56191'},
 '26 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '26 July ': {'Confirmed': '48932', 'Deceased': '704', 'Recovered': '31512'},
 '26 June ': {'Confirmed': '18255', 'Deceased': '381', 'Recovered': '10246'},
 '26 March ': {'Confirmed': '73', 'Deceased': '5', 'Recovered': '7'},
 '26 May ': {'Confirmed': '5907', 'Deceased': '173', 'Recovered': '3585'},
 '26 October ': {'Confirmed': '36019',
  'Deceased': '485',
  'Recovered': '63734'},
 '26 September ': {'Confirmed': '88759',
  'Deceased': '1124',
  'Recovered': '92365'},
 '27 April ': {'Confirmed': '1568', 'Deceased': '58', 'Recovered': '580'},
 '27 August ': {'Confirmed': '76827',
  'Deceased': '1066',
  'Recovered': '59620'},
 '27 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '27 July ': {'Confirmed': '46484', 'Deceased': '642', 'Recovered': '34354'},
 '27 June ': {'Confirmed': '20142', 'Deceased': '414', 'Recovered': '14229'},
 '27 March ': {'Confirmed': '153', 'Deceased': '3', 'Recovered': '25'},
 '27 May ': {'Confirmed': '7246', 'Deceased': '188', 'Recovered': '3434'},
 '27 October ': {'Confirmed': '43036',
  'Deceased': '511',
  'Recovered': '58429'},
 '27 September ': {'Confirmed': '82770',
  'Deceased': '1040',
  'Recovered': '74691'},
 '28 April ': {'Confirmed': '1902', 'Deceased': '69', 'Recovered': '636'},
 '28 August ': {'Confirmed': '76657',
  'Deceased': '1019',
  'Recovered': '64475'},
 '28 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '28 July ': {'Confirmed': '49631', 'Deceased': '774', 'Recovered': '35683'},
 '28 June ': {'Confirmed': '19610', 'Deceased': '384', 'Recovered': '11631'},
 '28 March ': {'Confirmed': '136', 'Deceased': '5', 'Recovered': '10'},
 '28 May ': {'Confirmed': '7254', 'Deceased': '176', 'Recovered': '3171'},
 '28 October ': {'Confirmed': '50188',
  'Deceased': '514',
  'Recovered': '56594'},
 '28 September ': {'Confirmed': '69669',
  'Deceased': '775',
  'Recovered': '85198'},
 '29 April ': {'Confirmed': '1705', 'Deceased': '71', 'Recovered': '690'},
 '29 August ': {'Confirmed': '78479', 'Deceased': '943', 'Recovered': '64982'},
 '29 February ': {'Confirmed': '0', 'Deceased': '0', 'Recovered': '0'},
 '29 July ': {'Confirmed': '52479', 'Deceased': '775', 'Recovered': '32886'},
 '29 June ': {'Confirmed': '18339', 'Deceased': '417', 'Recovered': '13497'},

**Using Pandas Creating seperate Dataframes for Confirmed, Deceased and Recovered cases on a daily basis**

In [13]:
import pandas as pd


df = pd.concat({k: pd.Series(v) for k, v in timeseries_plot_data.items()}).reset_index()
df.columns = ['Date','Cases','Count']

df.head(5)

          Date      Cases Count
0  30 January   Confirmed     1
1  30 January    Deceased     0
2  30 January   Recovered     0
3  31 January   Confirmed     0
4  31 January    Deceased     0

In [14]:
df_confirmed_cases = df[df['Cases'] == 'Confirmed']
df_confirmed_cases.head(5)

            Date      Cases Count
0    30 January   Confirmed     1
3    31 January   Confirmed     0
6   01 February   Confirmed     0
9   02 February   Confirmed     1
12  03 February   Confirmed     1

In [15]:
df_deceased_cases = df[df['Cases'] == 'Deceased']
df_deceased_cases.head(5)

            Date     Cases Count
1    30 January   Deceased     0
4    31 January   Deceased     0
7   01 February   Deceased     0
10  02 February   Deceased     0
13  03 February   Deceased     0

In [16]:
df_recovered_cases = df[df['Cases'] == 'Recovered']
df_recovered_cases.head(5)

            Date      Cases Count
2    30 January   Recovered     0
5    31 January   Recovered     0
8   01 February   Recovered     0
11  02 February   Recovered     0
14  03 February   Recovered     0

**Using Plotly to plot the daily confirmed cases according to dates based on real time data**

In [17]:
import plotly.express as px
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs,init_notebook_mode,plot

fig = px.line(df_confirmed_cases, x='Date', y='Count')
fig.update_layout(title_text="Daily Confirmed Cases of COVID-19 in India")
fig.show()

**Using Plotly to plot the daily confirmed, deceased, recovered cases according to dates in a single graph based on real time data**

In [18]:
fig = go.Figure()

fig.add_trace( go.Scatter(x = df_confirmed_cases.Date, y = df_confirmed_cases.Count, mode='lines',
                    name='Confirmed Cases', line=dict(color='royalblue', width=4) ) )

fig.add_trace( go.Scatter(x = df_deceased_cases.Date, y = df_deceased_cases.Count,mode='lines',
                    name='Deceased Cases',  line=dict(color='darkred', width=4) ) )

fig.add_trace( go.Scatter(x = df_recovered_cases.Date, y = df_recovered_cases.Count,mode='lines',
                    name='Recovered Cases',  line=dict(color='green', width=4) ) )

fig.update_layout(title_text="COVID-19 Daily Status India", xaxis_title='Date',
                   yaxis_title='Count')

fig.show()
plot(fig)

'temp-plot.html'